






<h1>---- PERSONA Agregada!!!!! --- </h1>

<p> NOMBRE: <span th:text="${persona.nombre}" />
<p> EDAD: <span th:text="${persona.edad}" />
<p> PESO: <span th:text="${persona.peso}" />
<p> PAIS: <span th:text="${persona.pais}" />


<h1>---- PERSONAS Cargadas!!!!! --- </h1>

<table>
	<tr>
		<th>Nombre</th>
		<th>Edad</th>
		<th>Peso</th>
		<th>Pais</th>
		<th>E-mail</th>
		<th>Web</th>
	</tr>
	
	<tr th:each="p : ${listaPersonas}">
		<td th:text="${p.nombre}"></td>
		<td th:text="${p.edad}"></td>
		<td th:text="${p.peso}"></td>
		<td th:text="${p.pais}"></td>
		<td th:text="${p.avatar.email}"></td>
		<td th:text="${p.avatar.webPersonal}"></td>
	</tr>
	
</table>